.highlight-background:hover {
    background-color: #ffa
}

.clickable {
    cursor: pointer;
}

.show-on-hoverover {
    display: none;
}
.show-on-hoverover-trigger:hover .show-on-hoverover {
    display: block;
}
