.highlight-background:hover {
    background-color: #ffa
}

.clickable {
    cursor: pointer;
}

.shown-on-hover {
    display: none;
}

.hidden-on-hover {
    display: block;
}

.shown-hidden-trigger:hover .shown-on-hover {
    display: block;
}

.shown-hidden-trigger:hover .hidden-on-hover {
    display: none;
}

.underline {
    text-decoration: underline;
}

.crossed-out {
    text-decoration: line-through;
}

.cursor-pointer {
    cursor: pointer;
}

.right-7 {
    right: 7px;
}

.top-7 {
    top: 7px;
}

.opacity-8 {
    opacity: .8;
}

.min-height-100 {
    min-height: 100px;
}
