.highlight-background:hover {
    background-color: #ffa
}

.clickable {
    cursor: pointer;
}

.shown-on-hover {
    display: none;
}

.hidden-on-hover {
    display: block;
}

.shown-hidden-trigger:hover .shown-on-hover {
    display: block;
}

.shown-hidden-trigger:hover .hidden-on-hover {
    display: none;
}

.underline {
    text-decoration: underline;
}

.crossed-out {
    text-decoration: line-through;
}
