@import "startbootstrap-sb-admin-2/vendor/bootstrap/scss/_functions.scss";
@import "startbootstrap-sb-admin-2/vendor/bootstrap/scss/_variables.scss";
@import "startbootstrap-sb-admin-2/vendor/bootstrap/scss/mixins/_breakpoints.scss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.smaller-font-before-sm {
    font-size:0.7rem;
}

@include media-breakpoint-up(sm) {
    .smaller-font-before-sm {
        font-size:inherit;
    }
}

.highlight-background:hover {
    background-color: #ffa
}

.clickable {
    cursor: pointer;
}

.shown-on-hover {
    display: none;
}

.hidden-on-hover {
    display: block;
}

.shown-hidden-trigger:hover .shown-on-hover {
    display: block;
}

.shown-hidden-trigger:hover .hidden-on-hover {
    display: none;
}

.underline {
    text-decoration: underline;
}

.crossed-out {
    text-decoration: line-through;
}

.cursor-pointer {
    cursor: pointer;
}

.right-7 {
    right: 7px;
}

.top-7 {
    top: 7px;
}

.opacity-8 {
    opacity: .8;
}

.min-height-100 {
    min-height: 100px;
}

.height-100 {
    height: 100px;
}


.inner-td-min-width-75 td {
    min-width: 75px;
}

.sidebar {
    height: 100%!important;
}

.border-3 {
    border-width: 3px!important;
}
